<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<ul>
  <%= link_to "Edit", edit_article_path(@article)%>
  <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,         # make a DELETE request instead of a GET reques
                    turbo_confirm: "Are You sure?" # confirmation dialog to appear when the link is clicked
                    } %>
</ul>